.grid-home {
    display: grid;
    grid-template-columns: 5% 55% 35% 5%;
    grid-template-rows: 5% 90% 5%;
    grid-column-gap: 20px;
    height: 100vh;
}
.grid-sign-up {
    display: grid;
    grid-template-columns: 5% 35% 55% 5%;
    grid-template-rows: 5% 90% 5%;
    grid-column-gap: 20px;
    height: 100vh;
}
.one { 
    grid-column: 2;
    grid-row: 2;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
    opacity: .8;
}
.two {
    grid-column: 3;
    grid-row: 2 ;
    height: 100%;
    display: grid;
    grid-template-columns:5% auto 5%;
    grid-template-rows: auto 3% 5% 8% 22% auto;
}
.three {
    grid-column: 3;
    grid-row: 2;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
    opacity: .8;
}
.four {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 5% auto 5%;
    /* grid-template-rows: auto 5% 5% 10% 10% auto auto; */
}
.form-input {
    grid-row: 5;
    grid-column: 2;
}
.form-sign-up {
    grid-column: 2;
    grid-row: 4;
}
h1 {
    letter-spacing: 5px;
}
.welcome {
    grid-row: 2;
    grid-column: 2;
    
}
.signup-header {
    grid-column: 2;
    grid-row: 2;
}
h3 { 
    letter-spacing:3px;
}
.statement {
    grid-row: 3;
    grid-column: 2;

}

@media screen and (max-width: 768px) {

    .grid-sign-up, .grid-home {
        display: grid;
        grid-template-columns: 10% auto 10%;
        grid-template-rows: 1% 30% 1% 60% 1%;
        grid-gap: 5px;
        height: 100vh;
        width: 100vw;
    }
    .four {
        grid-column: 2;
        grid-row: 4;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1% 10% 89%;
    }
    .two {
        grid-column: 2;
        grid-row: 4;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 10% 10% 2% 5% 7% 60% 10%
    }
    .form-sign-up {
        grid-column: 1;
        grid-row: 3;
        height: 100%;
        width: 100%
    }
    .three, .one {
        grid-column:2;
        grid-row: 2;
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }
    .signup-header {
        grid-column: 1;
        grid-row: 2;
    }
    .welcome { 
        grid-column: 1;
        grid-row: 2;
    }
    .statement {
        grid-column: 1;
        grid-row: 3;
    }
    .form-input{
        grid-column: 1;
        grid-row: 6;
    }
    h1 {
        letter-spacing: 2px;
    }

}

.logo {
    width: 50px;
    height:auto;
}

/* @media screen and (max-width: 320px) {

}

@media screen and (max-width: 168px) {

} */
